@import 'TopBar.css';
@import 'Login.css';
@import 'Main.css';
@import 'Resource.css';
@import 'Register.css';
@import 'Project.css';
@import 'ProjectResource.css';
@import 'ProjectProject.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
  height: 50px;
  float: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
