.ProjectResource {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  /* margin-top: 7%; */
  max-height: 100%;
  width: 47%;
}

.ProjectResource .header-box {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ProjectResource .bot-box {
  min-width: 100%;
  /* background-color: red; */
}
